mixin draw-covered(blocks)
  - blocks.forEach(function(block) {
      div(class="coverage__row")
        div(class="coverage__block")
          i(class="coverage__icon fa fa-check fa-2")
          a(class="coverage__link" href= block.path)= block.block.toUpperCase()
        div(class="coverage__progress-box")
          div(class="coverage__progress-bar" style="width:" + block.screens * 10 + "px")= block.screens
  - });


mixin draw-not-covered(blocks)
  - blocks.forEach(function(block) {
      div(class="coverage__row")
        div(class="coverage__block")
          i(class="coverage__icon fa fa-times fa-2")
          a(class="coverage__link")= block.toUpperCase()
        div(class="coverage__progress-box")
          div(class="coverage__progress-bar coverage__progress-bar-null" style="width:10px")= 0
  - });

mixin draw-table(diff)
  +draw-covered(diff.covered)
  +draw-not-covered(diff.notCovered)

doctype html
html(lang="en")
  head
    title Gemini coverage
    link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
    style= css
  body(class="main")
    div(class="coverage")
      +draw-table(data)
